*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
  }
  
  body{
    background-color: #E8EDF2;
  }
  
  div.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    display: flex;
    flex-direction: row;
    align-items: center;
  
    background-color: white;
    padding: 30px;
    box-shadow: 0 50px 50px -50px rgb(73, 164, 164);
  }
  div.myform:hover{
  
      transform: scale(1.04);
      transition: ease-in-out 0.3s; 
  
  }
  
  div.container div.myform{
    width: 300px;
    margin-right: 35px;
  }
  
  div.container div.myform h2{
    color: #1c1c1e;
    margin-bottom: 20px;
  }
  
  div.container div.myform input{
    border: none;
    outline: none;
    border-radius: 0;
    width: 100%;
    border-bottom: 2px solid #1c1c1e;
    margin-bottom: 25px;
    padding: 7px 0;
    font-size: 14px;
  }
  div.container div.myform button{
    color: white;
    background-color: #1c1c1e;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px 12px;
    font-weight: 500;
  }
  div.container div.image img{
    width: 360px;
  }